<!DOCTYPE html>
<html>
<head>
<title>TagHistory Secret Moonbase</title>
<link rel="stylesheet" type="text/css" href="/css/main.css"/>
</head>
<div id="wrapper">
<div id="content">
    <a href="http://www.last.fm/api/auth/?api_key={{lfm_key}}&cb={{cb_url}}">Set Last.fm session</a><br/>
    {% if auth_user %}
    Currently using authentication with '{{ auth_user }}' <br/>
    with key: {{ auth_session_key }}
    {% elif auth_error %}
    Authentication error: {{ auth_error }}
    {% endif %}
</div>
</div>
<html>