<html>
<head>
    <title>Tag Graph</title>
    <style type='text/css'>
        body {
            background-color: #EEE;
        }
    </style>
</head>
<body>
    <form id='user_form' method='get' action='/tag_graph'>
        user: <input type='text' id='user_input' name='user'></input>
        Top x% tags: <input type='text' id='tp_input' name='tp'></input>
        <input type='submit' value='go'></input>
    </form>
    <div id="status"></div>
    <canvas id="viewport" width="1300" height="800"></canvas>
        
    </canvas>
    <script src='/js/jquery-1.10.2.min.js'></script>
    <script type="text/javascript" src="/js/arbor.js"></script>
    <script type="text/javascript" src="/js/graphics.js"></script>
    <script type="text/javascript" src="/js/renderer.js"></script>
    <script type='text/javascript'>
    window.onload = process;

    var user = '{{ user }}';

    function process() {
        $('#user_input').val(user);
        $('#tp_input').val('{{ tp }}');
        $.getJSON('/tag_graph_data?tp={{ tp }}&user=' + encodeURIComponent(user)).done(render).fail(disp_error);
    }

    function render(data, status, jqXHR) {
        if (data.error) {
            document.getElementById('status').innerHTML = data.error;
        } else if (data.status) {
            document.getElementById('status').innerHTML = data.status;
        } else {
            var sys = arbor.ParticleSystem(100, 100, 0.5) // create the system with sensible repulsion/stiffness/friction
            sys.parameters({gravity:true}) // use center-gravity to make the graph settle nicely (ymmv)
            sys.renderer = Renderer("#viewport") // our newly created renderer will have its .init() method called shortly by sys...

            var MAX_FONT = 60;
            var MIN_FONT = 10;
            var MAX_PLAYS = 1;

            if (data.tags.length > 0) {
                MAX_PLAYS = data.tags[0].plays;
            }

            for (var i = 0; i < data.tags.length; i++) {
                var tag = data.tags[i].tag;
                var fs = Math.max(MIN_FONT, 
                                parseInt(data.tags[i].plays*MAX_FONT / MAX_PLAYS));
                sys.addNode(tag, {font_size: fs});

                for (var j = 0; j < data.tags[i].adj.length; j++) {
                    var edge = data.tags[i].adj[j];
                    var dst = sys.getNode(edge);
                    // ensures existing font_sizes not overwritten
                    if (!dst) {
                        dst = edge;
                    }
                    sys.addEdge(sys.getNode(tag), dst);
                }
            }

            // add some nodes to the graph and watch it go...
            // sys.addEdge('aDFDGfsay','b', {})
            // sys.addEdge('aDFDGfsay','c')
            // sys.addEdge('aDFDGfsay','d')
            // sys.addEdge('aDFDGfsay','e')
            // sys.addNode('f', {alone:true, color:'red',mass:.25})

            // or, equivalently:
            //
            // sys.graft({
            //   nodes:{
            //     f:{alone:true, mass:.25}
            //   }, 
            //   edges:{
            //     a:{ b:{},
            //         c:{},
            //         d:{},
            //         e:{}
            //     }
            //   }
            // })
        }
    }

    function disp_error(jqxhr, textStatus, error) {
        alert(textStatus + ': ' + error);
    }
    </script>    
</body>
</html>
